// ==========================================================================
// Footer
// ==========================================================================

.footer {
  padding: 2em;
  text-align: $text--center;

  @include e(link) {
    &:hover {
      text-decoration: underline;
    }
  }
}
